---
# vars file for k8s CNI
#
######################################################
# Common variables
#
#
# If one wants to display the ansible facts while running the playbook, set the following variable to "yes"
cni_display_facts: "{{ global_display_facts }}"

# Kubernetes pods subnet
#      Ensure there is no overlap with enterprise subnets so that there is no routing ambiguity in the pods
cni_pods_cidr: "{{ global_pods_cidr }}"
cni_pods_maxmasklength: "24"

# Version of Calico to be installed, see https://github.com/projectcalico/calico/releases
calico_version: "v3.30.6"
calico_crd_tempfile: "/tmp/calico_crd.yml"
calico_ippools_tempfile: "/tmp/calico_ippools.yaml"

cilium_cli_versionurl: "https://raw.githubusercontent.com/cilium/cilium-cli/main/stable.txt"
ciclium_cli_url: "https://github.com/cilium/cilium-cli/releases/download/${CILIUM_CLI_VERSION}/cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}"
cilium_helm_repository: "https://helm.cilium.io/"
cilium_helm_chart: "cilium/cilium"
cilium_helm_repo: "cilium"
# To find latest version, see https://github.com/cilium/cilium/releases
cilium_version: "1.19.0"
cilium_activate_hubble: "yes"
#
# End of common varibles
######################################################

######################################################
# CentOS specific
#

# CNI to be used
centos_cni:  "{{ global_cni }}"
#centos_cni: calico
#centos_cni: cilium

centos_host_interface: enp0s3

# Calico CNI on CentOS related variables 
#
# URL to install Calico without operator
#     Check https://docs.tigera.io/calico/latest/getting-started/kubernetes/self-managed-onprem/onpremises
centos_calico_url: "https://raw.githubusercontent.com/projectcalico/calico/{{calico_version}}/manifests/calico.yaml"
# URL to install Calico with operator
#     Check https://docs.tigera.io/calico/latest/getting-started/kubernetes/quickstart
centos_calico_url1: "https://raw.githubusercontent.com/projectcalico/calico/{{calico_version}}/manifests/tigera-operator.yaml"
centos_calico_url2: "https://raw.githubusercontent.com/projectcalico/calico/{{calico_version}}/manifests/custom-resources.yaml"
centos_calico_netmgr_configfile: "/etc/NetworkManager/conf.d/calico.conf"

# Cilium CNI on CentOS related variables 
#
centos_cilium_version: "1.18.5"
centos_cilium_namespace: "kube-system"
centos_cilium_helm_reponame: "cilium"
centos_cilium_helm_repository: "https://helm.cilium.io/"
centos_cilium_helm_chart: "{{centos_cilium_helm_reponame}} {{centos_cilium_helm_reponame}}/cilium"
centos_cilium_helm_valuesfile: "/tmp/cilium-helm-values.yaml"
centos_cilium_podscidr: "10.100.0.0"
centos_cilium_usekubeadmpodscidr: "true"

#
# End of CentOS specific
######################################################


