#controller:
#  ingressController:
#    env:
#      LOG_LEVEL: trace
#      dump_config: true

gateway:
  admin:
    http:
      enabled: true
  proxy:
    type: NodePort
    http:
      enabled: true
      nodePort: 32080
    #https:
    #  enabled: true
    #  nodePort: 32443
    tls:
      enabled: true
      nodePort: 32443
svc:
  # To determine how ip-restriction plugin behaves.
  # Local means : filter on external IP's instead of Cluster ones
  spec:
    externalTrafficPolicy: Local

#  ingressController:
#    env:
#      LOG_LEVEL: trace
