controller:
  kind: DaemonSet
  ingressClassResource:
    enabled: true
  service:
    type: NodePort
    nodePorts:
      http:  {{ centos_haproxy_http_nodeport }}
      https: {{ centos_haproxy_https_nodeport }}
