# Expose HAProxy via host port on all cluster nodes
controller:
  ingressClassResource:
    enabled: true
  kind: DaemonSet
  daemonset:
    useHostPort: true
  service:
    type: NodePort

# Possibly not required with latest versions of HAProxy
# If required, see :  https://www.haproxy.com/documentation/kubernetes-ingress/gateway-api/enable-gateway-api/
#  kubernetesGateway:
#    enabled: true
#    gatewayControllerName: haproxy.org/gateway-controller
