apiVersion: audit.k8s.io/v1
kind: Policy

rules:
  #- level: None
  # Log kubernetes-admin (default admin created by kubeadm) activities at metdata level
  #- level: Metadata
  #  users:
  #  - kubernetes-admin

  # Log some Kubernetes administrators activities
  - level: Metadata
    userGroups:
    - kubeadm:cluster-admins 
    verbs:
    - create
    - delete
    - deletecollection
    - patch
    - update
    resources:
    - group: "" # core API group

  # Log Kubernetes access to secrets 
  - level: Metadata
    resources:
    - group: "" # core API group
      resources: ["secrets"]

  # Log Kubernetes access to secrets 
  - level: Metadata
    resources:
    - group: "" # core API group
      resources: ["secrets"]

  # Logs activities related to a given list of groups of users
  - level: Metadata
    userGroups:
    - devgroup1
    - infragroup1
    - secgroups
    - allprojects

  # Logs activities related to a list of users
  #- level: Metadata
  #  users:
  #  - johndev1
  #  - paulinfra1
  #  - secofficer1
  #  - janeinfra2
  #  - bobdev2

  # Do not log legitime system accounts activities
  - level: None
    userGroups:
    - system:serviceaccounts:kube-system
    - system:serviceaccounts:argocd
    - system:serviceaccount:collectorforkubernetes:collectorforkubernetes

  - level: None
    users:
    - system:apiserver
    - system:kube-scheduler
    - system:volume-scheduler
    - system:kube-controller-manager
    - kubernetes-admin 

  # Do not log from from ingress-controller
  - level: None
    users:
    - system:serviceaccount:ingress-controller:haproxy-ingress

  # Don't log nodes communications
  - level: None
    userGroups:
    - system:nodes

  # Don't log anonymous  accesses
  - level: None
    userGroups:
    - system:unauthenticated

  # Don't log these read-only URLs.
  - level: None
    nonResourceURLs:
    - /healthz*
    - /version
    - /swagger*

  # Log everything else at Metadata level
  #- level: Metadata

  # Log nothing else
  - level: None

